{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ text }}</h1>
<div>
    <h2> Réponses ({{ answers | length }}) </h2>
</div>

<div>
    <ul>
        {% for answer in answers %}
            <li>
                {{ answer }}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}